<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TVT - TOYS STORES</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- s-alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <div class="site-branding-area">
        <div class="container">
            <div class="logo text-center">
                <img src="/img/headerOn.png" alt="" style="width: 30%; height: 30%;">
            </div>
        </div>
    </div> <!-- End site branding area -->

    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <% if(locals.user.positionID==='ST' ){%>
                            <li class="<%= locals.page == 'orderBills' ? 'active' : '' %>">
                                <a href="/admin/admin-home">Order bills</a>
                            </li>
                            <li class="<%= locals.page == 'listBills' ? 'active' : '' %>">
                                <a href="/admin/listBills">List bills</a>
                            </li>
                            <li class="<%= locals.page == 'listItems' ? 'active' : '' %>">
                                <a href="/admin/listItems">List items</a>
                            </li>
                            <li class="<%= locals.page == 'addItems' ? 'active' : '' %>">
                                <a href="/admin/addItems">Add items</a>
                            </li>
                            <% } %>
                                <% if(locals.user.positionID==='MNG' ) {%>
                                    <li class="<%= locals.page == 'listStaffs' ? 'active' : '' %>">
                                        <a href="/admin/listStaffs">List staffs</a>
                                    </li>
                                    <li class="<%= locals.page == 'addStaff' ? 'active' : '' %>">
                                        <a href="/admin/addStaff">Add staff</a>
                                    </li>
                                    <% } %>
                                        <li class="<%= locals.page == 'profile' ? 'active' : '' %>">
                                            <a href="/admin/profile">Profile</a>
                                        </li>
                                        <li>
                                            <a href="/admin/logout">Logout</a>
                                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->
    <%- include('../adminPages/'+locals.page) -%>
        <div class="footer-top-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="footer-about-us">
                            <img src="/img/header.png" alt="" style="width: 30%; height: 30%;">

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus
                                vero
                                quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet
                                eligendi
                                iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi
                                veritatis magni at?</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="footer-menu">
                            <h2 class="footer-wid-title">Social media </h2>
                            <div class="footer-social">
                                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End footer top area -->


</body>


<!-- Latest jQuery form server -->
<script src="https://code.jquery.com/jquery.min.js"></script>

<!-- Bootstrap JS form CDN -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- jQuery easing -->
<script src="/js/jquery.easing.1.3.min.js"></script>

<!-- Main Script -->
<script src="/js/main.js"></script>

</html>