<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <% locals.dataToys.forEach(val=> { %>
                <div class="col-md-4 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="<%= val.img1 %>" alt="">
                        </div>
                        <h2>
                            <a href="/single-product?toyID=<%= val.toyID %>">
                                <%= val.toyName %>
                            </a>
                        </h2>
                        <div class="product-carousel-price">
                            <ins>
                                <%= val.price %>
                            </ins> <del>
                                <%= val.price + val.price * 20/100 %>
                            </del>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                rel="nofollow" href="/single-product?toyID=<%= val.toyID %>">Add to cart</a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="?pageNow=<%= locals.pageNow - 1 %>" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% for(i=1; i <=locals.countPage; i++){%>
                                <li class="<%= pageNow === i ? 'active': ''%>"><a href="?pageNow=<%= i %>">
                                        <%= i %>
                                    </a></li>
                                <%}%>
                                    <li>
                                        <a href="?pageNow=<%= locals.pageNow + 1 %>" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>