<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>
                        <%= profile.staffID %>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="card-profile text-center">
            <div class="card-profile-header">
                <img src="https://iconape.com/wp-content/png_logo_vector/user-circle.png" alt=""
                    style="width: 150px; height: 150px;">
            </div>
            <div class="card-profile-body">
                <div>
                    <%= profile.staffName %>
                </div>
                <div>
                    <%= profile.gender %>
                </div>
                <div>
                    <%= profile.phone %>
                </div>
                <div>
                    <%= profile.position=='MNG' ? 'Manager' : 'Staff' %>
                </div>
                <div>
                    <%= profile.salary %>$
                </div>
                <div>***************</div>
                <a href="/admin/changPass">
                    <button type="button" class="btn btn-warning">Change password</button>
                </a>
            </div>

        </div>
    </div>
</div>